{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
   "plugins": [ "prettier-plugin-vue"],
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",

 "htmlWhitespaceSensitivity": "ignore"
  
}
