
  .background-form{
    
    background-color: var(--color-primary);
    height: 100% ;
    min-height: 100vh;
  }
  .linkedin-card{
    position: relative;
    color:var(--color-secondary);
    background-color: white;
    border-radius: 30px;
    
  }
   .profile-img{
    
    border-radius: 30px;
    width: 100%;
    
  }
  .profile-info > a{
      position: absolute;
      right: 10%;
      bottom: 25%;
      color: var(--color-secondary);
      text-transform: none;
      font-weight: 500;
    }
    .profile-info > a:hover{
      color:var(--color-primary);
      background-color: #007BFF;
      
    }    
 
 
  
  .contact-form-1 {
      background: white;       
      border-radius: 10px;
      box-shadow: 0 1px 5px var(--color-grey-3);      
      font-weight: 500 ; 
      border: 2px solid #007BFF;
      color: var(--color-secondary);
      max-width: 450px;
      width: 100%;
  }
   
  .visually-hidden {
      position: absolute;
      width: 1px;
      margin: -1px;
      overflow: hidden;
      white-space: nowrap;   
  }
  .contact-form-1 select, .contact-form-1 input,.contact-form-1 textarea{
      border: 2px solid var(--color-grey-1);  
       width: 100%;    
  }
  .contact-form-1 select:focus, .contact-form-1 input:focus,.contact-form-1 textarea:focus{
     border:  2px  solid  #5e83aa ;     
  }
  /*parte1*/
  .form-input {
    position: relative; 
    width: 100%;
  }
 
  input { 
    padding: var(--space-xs);
    border-radius: 5px;
     outline: none; 
    
  }
 .accesible {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666;
    pointer-events: none;  
    transition: 0.2s ease all;  
}

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 10px;
    left: 15px;
    font-size: 13px;
    color: #007BFF;
  }
  /*buttons*/
.contact-form-1 button[type="submit"]{  
      background-color: #0169d8;
      color: var(--color-grey-0);
      align-self: flex-end;
    }
    .contact-form-1 button[type="submit"]:hover {
      background-color: #0056b3;
    }
     .back-btn{
      padding-left: 0;
      align-self: flex-start;
      color: var(--color-secondary);
    }
  .whatsapp-link a {
      color: #14bc51;
      font-weight: bold !important;
      text-decoration: none;
      box-shadow: none;
      padding: 0;
    }
    /*parte2*/

    .second-part .form-input *{
      margin-top: var(--space-xxs);
    }
   
    .specific-interest{
      background-color: #4d729a;
      border-radius: 5px;    
      color: var(--color-grey-0);
     
    }
    
    .contact-form-1 select {
      padding:8px; 
      border-radius: 5px;
    } 
    /*text area*/
       .contact-form-1 textarea {     
      padding: var(--space-xs);
      font-size: 15px;
      border-radius: 5px;
    }
  
      .contact-form-1 .call {
      display: flex;
      flex-direction: row;
    }
    .contact-form-1 .call input{
      width: 16px;   
    }
    .contact-form-1 .call label{      
      font-size: 16px;
    } 
  /**todo: flecha atras dentro form, abrir form pagina nueva,patterns y size input */
    
@media (max-width: 545px) {
  .profile-info > a{
    position: relative;
  }
}
 
/*
     .contact-form-2 {
      background: var(--color-white); 
      padding: 16px 32px 0px 32px !important;*/
      /*border-radius: 10px;
      box-shadow: 0 2px 5px var(--color-shadow-dark-grey);
      width: 600px;
      margin: 20px;
      padding: 40px;
     color: var(--color-secondary);
      gap:16px;
      display: flex;
      flex-direction: column;
      border: 12px solid  #fffd77;
    }
      .contact-form-2 form{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50px;
               
        
        align-items: center;
        margin: 0px;
        
      }

      .contact-form-2 button {     
      height: 34px;
      background-color: #41474e;
      color: var(--color-white);
      border: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0px;
      padding: 8px 32px;
    }

    .contact-form-2 h2{
      color: var(--color-secondary);
      display: flex;
      justify-content: center;
      font-weight: bold;
      text-shadow: 4px 2px #fffd77;
      
    }
  
    
    .contact-form-2 input{
        border-radius: 5px 0 0 5px;
        font-weight: bold;
         background-color: var(--color-white); 
         
      }
   
     */