
/*INTRO*/ 
.page-videojuegos::after{
    content:"";
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(32, 0, 55, 0.799) 0%,  rgba(76, 16, 104, 0.799) 110%);
    z-index: -1;
}
.header-games h3, .container-casos-games h2, .unreal-games h3, .services-games h3 { 
    color: var(--color-soft-purple);
}

.header-games .container-header{    
    border:4px solid #8d448b;    
    border-radius: 20px; 
    margin-top: var(--space-xs); 
    width: 100%;
}
.header-games .beneficios-games {
    color:white; 
    font-weight: 400;
}

.header-games .iframe {    
    max-width: 100%; 
}

.container-header  .p-games { 
     color:var(--color-soft-purple)    ;
     font-size: var(--font-med-special);
     font-family: Handlee, sans-serif;
}

.container-header .p-column-sm, .unreal-games .p-column-sm{
    background-color: var(--color-calid-purple);    
    border-radius: 15px;
    box-shadow: 1px 1px 3px var(--color-grey-5);
}

/*Unreal*/
.unreal-games{
     padding: 0 var(--space-xs)  ;
}
.cinematica{
    max-width: 600px;
    width: 100%;
}
/**Services*/


/**Casos*/

.page-videojuegos .black-background h2{
    color: var(--color-soft-purple);
}
.container-casos-games{
    padding-top: var(--space-xs); 
    gap: var(--space-md);
    color:var(--color-grey-2);
    border-radius: 15px;
    background: var(--color-calid-purple);    
    border: clamp(2px,2vw, 14px) solid var(--color-calid-purple);
    border-top: 14px solid var(--color-calid-purple);
    align-items: center;
    max-width: 1100px;
    h5{color: var(--color-grey-1);}
    h3,h4{font-weight: 500; color: var(--color-soft-purple); }
    
}
 .analisis-frost  li{
  list-style: none;
  border-radius: 10px;
   border: 2px solid var(--color-calid-purple);
   padding: var(--space-xs);
} 

.analisis-frost .material-symbols-rounded {   
   font-size: 10px; 
}
.text-red{
    margin-left: var(--space-xxs);
}
.text-bg-purple{
    background-color: var(--color-calid-purple) ;
    border-radius: 10px;   
    padding: var(--space-xxs);
}
@media (hover: hover) {
    .analisis-frost ul {
     height: 428px;
    }
    
    .analisis-frost li {
        cursor: pointer;      
         position: relative;
            
    }
    .analisis-frost li:hover  {
         padding: 0 ;         
    }  
    /* .analisis-frost i{
        color: var(--color-soft-purple);
    }  */
    .analisis-frost li:hover> p{
        margin: var(--space-xs)   ;
        margin-bottom: calc(var(--space-xs) + 4px);
        span{ color: var(--color-soft-purple);      }
    }
    .shadow-container{     
       display:none ;
      
}
.analisis-frost li:hover .shadow-container{
     width: calc(100% + 3px);
    position: absolute;
    flex-direction: column;
    transform: translateY(42px) translateX(-1.5px); 
    display:flex ;
    background-color: var(--color-secondary);
    top:0;
    z-index: 2;
    pointer-events: none; 
     box-shadow: 0px 12px 20px  rgb(42, 5, 42);
     border: 2px solid var(--color-calid-purple);
     border-top: 0;
     border-radius: 0 0 15px 15px;
     padding: var(--space-xxs);
     gap:var(--space-xxs);     
    transition: display 1s linear;   
}
.analisis-frost .material-symbols-rounded {   
   font-size: 11px; 
}
.analisis-frost li:hover .material-symbols-rounded {
    font-weight: 700; 
}
}
@media (max-width: 540px) {
    .container-row{
        padding: 0;
    }
    .container-casos-games h4, .container-casos-games h5 .services-games h2{    
        align-self: start;
    }
} 