/* Asegúrate de eliminar márgenes y rellenos por defecto 
8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 
128, 136, 144, 152, 160, 168, 176, 184, 192, 200
*/


*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    /* Tamaño de fuente base */
    --font-size-base: 17px;
    
    /* Colores */
    --color-primary: #E0E0E0;
    --color-secondary: #1E1E1E;

    /**todo: change greys 1-2-3*/
    --color-white: #ffffff;
    --color-white-grey: #f1f1f1;
    --color-light-grey-1:  #afafaf;   
    --color-light-grey: #878787;
    --color-grey: #4d4c49;
    --color-blue-black:#0d0202;
    

    --color-shadow-middle-gray:#62626F;
    --color-shadow-dark-grey:#232323;
}


/* Asegurar de que el body y el html no tengan márgenes */
html, body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.5; 
   
    
}
body {         
    /* display: flex;     */
    /* flex-direction: column;     */
    letter-spacing: 0.4px;    
     font-size:var(--font-size-base);
     font-family: 'Barlow', Arial, sans-serif;
}



/* Diseño responsivo */
/** Estilo base (para pantallas grandes por defecto) */
.header {
    display: flex;
    gap: 8px;
    width: 100%;
    /* height: 60px; */
    justify-content: space-between;
    
    color: var(--color-primary)!important;
    position: sticky;
    background: var(--color-blue-black);
    box-shadow: 0px 2px 4px 0px var(--color-shadow-middle-gray);
    top:0;
    left: 0;
    z-index: 1000;    /* Asegura que esté por encima del contenido */
    padding: 8px 40px;
}
.logo>a {
padding: 0px;
display: flex;
justify-content: center;

}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
   gap:16px;
    
    align-items: center;
}

.nav-menu> a{
    box-shadow: none !important;
    font-weight: 400;
    white-space: nowrap;
    padding: 8px 8px;
}

/**BUTTONS */
a {
all:unset;
cursor: pointer;
padding: 16px 24px;
/* box-shadow:   1px 1px 3px 0px var(--color-shadow-middle-gray); */
 /* height: auto;  */
    width: fit-content; 
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
}
/**UNSET BUTTON*/
.unset-btn {
     all: unset!important;
    background: none!important;
    cursor: pointer!important;
    padding:  24px 24px;      
}
/* button:hover{    
    text-decoration: underline;    
} */


.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
  
}

/*btn general*/
.btn0{
    border-radius: 8px;
    border: 1.5px solid rgb(53, 53, 53);
    background-color: var(--color-white);    
    color:#1a1a1a; 
    font-weight: 600;  
   
}

.btn0:hover{
 background-color: #FFD496 ;
 text-shadow: 0 1px 3px var(--color-primary);
 
}
/*btn ux*/
.btn1{
      border-radius: 8px;
    background-color: #ff7707;
       
    color: #fff;
    font-weight: 600; 
  
}
.btn1:hover{
    background-color: #ff9500;  
 text-shadow: none;
  
}
/*btn programming*/
.btn2{
    border-radius: 8px;
    border: 1.5px solid rgb(53, 53, 53);
    background-color: var(--color-white);  
    color:#1a1a1a; 
    font-weight: 600; 
}
.btn2:hover{
    background-color: rgb(116, 59, 116);
    color:var(--color-white); 
    border: 1.5px solid var(--color-white); 
}

.btn3{
    border-radius: 5px;
    background-color: rgb(122, 33, 57);

}
.btn4{
    border-radius: 5px;
    background-color: rgb(32, 99, 14);

}

/** TEXT */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    
     
}
/**todo:fontsize mediaqueris y tittles*/
h1{
       font-size: 1.9rem; /*32px*/
       font-style: normal;
       font-weight: 800;
       width: 100%;
       letter-spacing: 3px;
       text-transform: uppercase;   
       display: flex; 
       justify-content: center;
       padding: 60px;
       
}
h2{
    font-size: 1.5rem; /*24px*/
    font-weight: 400;
}
h3{
    font-size: 1.3rem; /*21px*/
    font-weight: 400;
}
h4{
    font-size: 1.1rem; /*17.5px*/
}
h5{
    font-weight: lighter;
    font-size: 1rem;
}
h6{
 font-size: 0.9rem;

}
p{
    font-size:1rem;
    margin: 0px;
     line-height: 1.5;
     max-width: 650px;
     
}
 .p-short{
    width: 500px;
    text-align: center;
    
 }
ul{
    margin: 0px;
    padding-left: 20px;
}
li{
    margin-bottom: 10px;
}

/**FOCUS-IMG*/
.container-img-focus {
  
  display: inline-block;
  overflow: visible; /* Permite que la imagen se amplíe fuera del contenedor */
  width: 380px; /* Tamaño inicial igual al de la imagen */
  height: auto;
  position: relative; /* Asegura un posicionamiento adecuado */
}

.img-focus {
 border-radius: 5px;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
  will-change: transform, box-shadow;
  transform-origin: center center; /* Asegura que la imagen se amplíe desde el centro */
}

.container-img-focus:hover .img-focus {
  transform: scale(1.7); /* Amplía la imagen desde el centro */
  z-index: 999;
  box-shadow: 0 12px 24px var(--color-shadow-dark-grey);
  /* max-width: 600px; 
  max-height: 600px;  */
  object-fit: contain; /* Asegura que la imagen no se recorte */
}

.container-img-focus:not(:hover) .img-focus {
  transform: scale(1); /* Vuelve a su tamaño original */
  position: relative; /* Recupera su posición en el flujo del documento */
  box-shadow: none; /* Elimina la sombra */
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* Agrega la transición de vuelta */
}


/**FORMAT*/
.align{
    text-align: center;
}

.p-column{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.container-row{
    display: flex;
   flex-flow: row wrap;
    width: 100% vh;
    align-items: center;
    justify-content: center;
    gap:24px;
    padding: 24px;
}
.container-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:24px;
    padding: 32px;
    justify-content: center;
}

/**FOOTER*/
footer {
    background-color: var(--color-blue-black);
    color: #ffed76;
    font-weight: 800;
    padding: 15px;
    z-index: 1;
    
}



/* Pantallas mayores a 1200px (diseño para desktop grandes) */
@media (min-width: 1600px) {
      
h1{
       font-size: 2rem;       
}
h2{
    font-size: 32px;    
}
h3{
    font-size: 24px;    
}
h4{
    font-size: 20px;
}
h5{
    font-weight: lighter;
    font-size:1.3rem;
}
h6{
 font-size: 16px;
}
p{
    font-size:1.3rem; /*26px*/  
}
      
}

@media (min-width: 800px) and (max-width: 1199px) {
    /* .header {
        padding: 30px 24px !important;
    }
    */
}



/** Pantallas entre 600px y 819px (TABLETS en horizontal o dispositivos medianos) */
@media (max-width: 801px) {
   
    /* Ocultar el menú por defecto en pantallas pequeñas */
    
   
    .menu-toggle{
        border: none;
        background-color: unset;  
        padding: 16px;     
        width: 150px; 
        
        display: flex;
        justify-content: flex-end;
    }
    .hamburger-icon {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    }

    .hamburger-icon span {
    height: 3px ;
    border-radius: 2px;
        
    background-color: var(--color-primary)!important;
    transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    /* Animación para el menú abierto */
    .hamburger-icon.open span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
    }

    .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    }

    .hamburger-icon.open span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
    }

  .nav-menu {
    display: none;
    flex-direction: column;
  
        
  }

  .nav-menu.open {
  display: flex;
  
  

  }

}

/** Pantallas menores a 600px (diseño para MÓVILES pequeños) */
/* @media (max-width: 599px) {
    
    .header {
    display: flex;
    padding: 16px 48px;
    width: 100%;
    height: auto;    
    background: var(--color-blue-black);
    align-items: start;
    }

    .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    
    }

    .hamburger-icon span {
    height: 3px;
   
    transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
   
    .hamburger-icon.open span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
    }

    .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    }

    .hamburger-icon.open span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
    }

  .nav-menu {
    display: none;
    flex-direction: column;
    
        
  }

  .nav-menu.open {
    display: flex; 
    color:var(--color-primary);

  }

} */
