/* Asegúrate de eliminar márgenes y rellenos por defecto 
8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 
128, 136, 144, 152, 160, 168, 176, 184, 192, 200
*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,400..700,0..1,0..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400..700,0..1,0..200');
      
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    /* Tamaño base */
    --font-size-base: 16px;   
    --space-unit: 0.5rem; /* 8px base */    
    /* Escala  */
    --space-xxs:  calc(var(--space-unit) * 1);  /* 8px */
    --space-xs:   calc(var(--space-unit) * 2);   /* 16px */
    --space-sm:   calc(var(--space-unit) * 3);   /* 24px */
    --space-md:   calc(var(--space-unit) * 4);   /* 32px */
    --space-lg:   calc(var(--space-unit) * 6);   /* 48px */
    --space-xl:   calc(var(--space-unit) * 8);   /* 64px */
    --space-xxl:   calc(var(--space-unit) * 10);   /* 80px */
    --space-2xl:   calc(var(--space-unit) * 10 * 2);   /* 160px */    
    
    /* Colores */
    --color-primary: #dcd7d7;
    --color-secondary: #19191c;

    /**todo: change greys 1-2-3*/
    
    --color-grey-0: #f4f4f4;
    --color-grey-1:  #bbbbbb;   
    --color-grey-2: #959595;
    --color-grey-3:#828282;
    --color-grey-4: #403d36;    
    --color-grey-5:#232323;

    --color-blue-black:#0a0a0f;
    /*orange*/
    --color-soft-orange-grey:#be8d4e;
    --color-orange:#e2a755;
    --color-sat-orange:#796337;
    /*blue*/
    --color-white-blue:#8ADCFF;    
    --color-med-blue: #0A526E;
    --color-dark-blue: #1C2833;
    /*purple*/
    --color-soft-purple:#cf8dce;
    --color-calid-purple: #401e52;
    --color-med-purple: #351e52;
       --color-med-purple: #4917d2; 
}

/* Asegurar de que el body y el html no tengan márgenes */
html, body {
    max-width: 100%;
    min-width: 310px;
    height: 100%;
    margin: 0;
    padding: 0;      
    font-size:var(--font-size-base);  
}

body { 
    letter-spacing: 0.4px;        
    font-family: 'Barlow', Arial, sans-serif;
    line-height: 1.5;
     background-color: var(--color-secondary); 
     color:var(--color-primary);
     user-select: none;
}
section{
    padding: clamp(var(--space-lg), 7vw, var(--space-2xl)) clamp(var(--space-xxs), 5vw, var(--space-xxl))  ;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: clamp(var(--space-sm),3vw, var(--space-xl));
    width: 100%;
}

div:not([class]){
    display: flex;
    flex-direction: column;
    gap:var(--space-xs);
} 

/** TEXT */
h1,h2,h3,h4,h5,h6 {
    margin: 0; 
   max-width: 60vw; 
}

h1{
       font-size: clamp(1.6rem, 4vw, 2.3rem); 
       font-weight: 600; 
       letter-spacing: 3px;
       text-transform: uppercase;
       text-align: center;
        
}
h2{
    font-size: clamp(1.3rem, 1.8vw, 2rem);
    font-weight: 600;
}
h3{
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    font-weight: 500;
}
h4{
    
    font-weight: 500;
    font-size: clamp(1.1rem, 1.3vw, 1.4rem); 
} 
h5{
    font-weight: 500;
    font-size: clamp(1rem, 1.2vw, 1.4rem); 
}
h6{
 font-size: 0.9rem;
}
p, label, select{
    font-size: clamp(1rem, 1.2vw, 1.4rem); 
    margin: 0px;
    line-height: 1.5;   
    max-width: 750px;
    
}

ul{
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding-left: 20px;    
    max-width: 750px;   
    
}

li *:not(:last-child){
      margin-bottom: 4px; 
}  
/*background*/
.black-background{
    background-color: var(--color-blue-black);
}
.black-background h2{ 
    align-self: flex-start;
    padding-left: 10%;
    font-size: 2rem;
}
.dark-background{    
    border-radius: 10px;
    background-color: var(--color-secondary);
    width: 100%;
    align-items: center;   
}

/**FORMAT*/
.full-width{
    max-width: 100%;
    width: 100%;
}
.padding-Y-xs{
    padding: clamp(var(--space-xs), 3vw, var(--space-sm)) 0;
}
.padding-Y-sm{
    padding: clamp(var(--space-sm), 3vw, var(--space-xl)) 0;
}
.padding-xs{
    padding: clamp(var(--space-xxs), 3vw, var(--space-xs));
}
.padding-sm{
    padding: clamp(var(--space-sm), 3vw, var(--space-lg)) clamp(var(--space-xs), 3vw, var(--space-lg));
}
.padding-lg{
    padding: clamp(var(--space-sm), 3vw, var(--space-lg)) clamp(var(--space-lg), 4vw, var(--space-xxl));
}
 .p-short{
    max-width: 470px !important;    
    min-width: 280px;     
 }
 .p-med{
    max-width: 650px !important;    
        
 }
.p-align{
    text-align: center;
}
.align-center{
    align-items: center !important;
}
/*flex*/
.flex{
    display: flex;
    flex-direction: column;      
}

.p-column-xxs{    
    gap:var(--space-xxs) ;    
}
 .p-column-xs{    
    gap:var(--space-xs) ;    
} 
 .p-column-sm{    
    gap:clamp(var(--space-sm), 3vw, var(--space-md) );    
}


/*flex containers*/
.container-column-xxs{   
    gap: var(--space-xxs);    
    padding: clamp(var(--space-xxs), 3vw, var(--space-sm));
}
.container-column-xs{   
    gap: clamp(var(--space-xs), 3vw, var(--space-sm));    
    padding: clamp(var(--space-xxs), 3vw, var(--space-lg));
}
.container-column-sm{    
    gap: clamp(var(--space-sm), 3vw, var(--space-md));    
    padding: clamp(var(--space-sm), 3vw, var(--space-lg)) clamp(var(--space-xs), 3vw, var(--space-lg));
}
.container-column-md{    
     gap:clamp(var(--space-sm), 3vw, var(--space-md) ); 
    padding: clamp(var(--space-sm), 3vw, var(--space-lg)) clamp(var(--space-xxs), 3vw, var(--space-lg));
}
.flex-row{
    display: flex;
    flex-flow: row wrap;    
    align-items: center;
    justify-content: space-evenly;
    gap:var(--space-lg);
    max-width: 100%;
   
}
.flex-row>*{
    flex: 1 0.5;
    min-width: 280px; 
    width: 100%;
    
}
/**BUTTONS */

a, button {
    all:unset;
    cursor: pointer;
    padding: var(--space-xxs) var(--space-sm);
    font-size: clamp(1rem, 1.1vw , 2rem); 
    width: fit-content;
    border-radius: 5px;
}

/*btn general*/
.big-btn {
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 700;
    padding: var(--space-xs);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--color-orange);
    text-transform: uppercase;  
    
    border: 3px solid  var(--color-orange);  
    animation: border-move 5s infinite linear ;   
  
}
.big-btn:hover{
    border: 3px solid  var(--color-grey-1); 
    background-color: var(--color-grey-5);
}

 @keyframes border-move {
    0% {
        border-color: var(--color-white-blue);
        box-shadow: 0 0 6px var(--color-white-blue);
    }
    30% {
        border-color: #8ac610;  
        box-shadow: 0 0 6px #8ac610;
    }
    70% {
        border-color: var(--color-soft-orange-grey);  
        box-shadow: 0 0 6px var(--color-soft-orange-grey);
    }
    100% {
        border-color: var(--color-white-blue);
        box-shadow: 0 0 6px var(--color-white-blue);
    }
} 
.big-btn1 { 
    font-size: 1.2rem;
    font-weight: 700;    
    border-radius: 50px; 
    text-transform: uppercase;  
    padding: var(--space-xs);
    border: 3px solid  var(--color-white-blue); 
    animation: border-move-1 5s infinite linear ; 
}
.big-btn1:hover{
    border: 3px solid var(--color-white-blue);
    animation: none;
    box-shadow: 0 0 6px var(--color-white-blue);
}
@keyframes border-move-1 {
    0% {
        border-color: var(--color-white-blue);
        box-shadow: 0 0 6px var(--color-white-blue);
    }
    50% {
        border-color: var(--color-soft-purple);  
        box-shadow: 0 0 6px var(--color-soft-purple);
    }
    100% {
        border-color: var(--color-white-blue);
        box-shadow: 0 0 6px var(--color-white-blue);
    }
} 
 
.big-btn2 {
    padding: var(--space-xs);
    font-size: 1.2rem;
    font-weight: 700;    
    border-radius: 50px;
    box-shadow: 0 0 10px var(--color-sat-orange);
    text-transform: uppercase;  
    border: 3px solid  var(--color-soft-orange-grey);
    color: var(--color-primary);     
}
.big-btn2:hover{
    border: 3px solid var(--color-sat-orange) ; 
}

/**IMG*/
.container-img {    
  max-width: 450px; 
  /* min-width: 260px; */
  width:100%;
  height: auto;  
}
.container-img-focus {  
  display: inline-block;
  overflow: visible; 
  max-width: 450px; 
  min-width: 280px;  
}
.img-focus {
 border-radius: 5px;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: zoom-in;
   flex: 0;
  will-change: transform, box-shadow;
  transform-origin: center center; /* Asegura que la imagen se amplíe desde el centro */
}
.container-img-focus:hover .img-focus {
  transform: scale(1.6); 
  z-index: 999;
  box-shadow: 0 1px 24px var(--color-grey-5);
  /* max-width: 600px; 
  max-height: 600px;  */
  object-fit: contain; /* Asegura que la imagen no se recorte */
}
.container-img-focus:not(:hover) .img-focus {
  transform: scale(1); 
  position: relative; 
  box-shadow: none; 
  transition: transform 0.4s ease, box-shadow 0.4s ease; 
}

/**IMG ROW*/
.img-pc{
    align-self: center;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    height: auto;    
}
figure{
    margin:0;
    justify-items: center;
}



@media (max-width: 950px) { 
  
   .flex-row{
        flex-direction: column;      
   }
   .flex-row *{        
        text-align: left ;
   }   
}

@media (max-width: 400px) {
   
    main{
        margin-top: 49.98px;
    }
    .flex-row{
        gap:var(--space-sm);
    } 
    h1,h2,h3,h4,h5,h6 {     
        max-width: 80vw; 
        
    }
    .flex{
        width: 100%;    
    }
    .black-background h2{ 
        padding: 0;    
}
}

 