/**LANDING*/

/*Placeholder eliminar cls*/
.image-placeholder {
  width: 100%;
  height: 100vh; 
  background: var(--color-secondary); 
}
/*efects*/
.page-landing h1{
    opacity: 0;
    transition: opacity 2s ease;
}

#imgHover {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  pointer-events: none; 
  display: none;
  opacity: 0;
  transition: opacity 1s linear;
}
.intro-container::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.799) 0%, transparent 100%);
    pointer-events: none;
    z-index: 3;
     /* animation: fadeOutUp 8s ease-in-out 0s forwards;  */
}
.intro-container {
    position: relative;
    height: 100vh; 
    display: flex;
    overflow: hidden;
   background-color: var(--color-secondary);
    z-index: -2;
}

.portfolio-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    opacity: 1;
    transition: opacity 0.3s linear;
}

 /* SERVICIOS -LANDING */

.list-container [hidden] { display: none !important; }

.list-container> .group-list {
    display: flex;
   padding: 0;
    justify-content: center;
    gap: clamp(var(--space-md), 2vw,var(--space-lg));
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
#encabezado-servicios{
    text-shadow: 0 0 2px var(--color-primary);
}

/*List*/
.group-list > .list {
    max-width: clamp(700px, 1.2vw, 900px) ;
    border-radius: 10px;
    gap:var(--space-xs);
    background: var(--color-secondary);
    padding: clamp(var(--space-sm), 3vw, var(--space-md)) clamp(var(--space-sm), 4vw, var(--space-xxl));
    align-items: center;
}
.list > p{
    text-align: center;
}

  .features-list h3 {
    display:inline !important;
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    margin-right: 0.3em;
}
.features-list p { 
    color: var(--color-grey-2);
    display:inline !important;
 }

.list:first-child{
    box-shadow: 0px 0px 4px 1px var(--color-orange) inset;
    h2,h3, span{  color: var(--color-orange);  }
}

.list:nth-child(2){
    box-shadow: 0px 0px 4px 1px #50c9c1 inset;
        h2, h3, span{  color: #50c9c1; }
}

.list:nth-child(3){
    box-shadow: 0px 0px 4px 1px #B276FF inset;
     h2, h3, span{  color: #B276FF; }
}

.list:nth-child(4){
    box-shadow: 0px 0px 4px 1px #91d606 inset;
    h2, h3{  color: #8ac610; }
}

/* contacta*/
.list-container .contacta p{
        font-size: clamp(1.4rem, 4vw, 1.9rem);
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        
}

/* *PROYECTO UNICO*/
/* .container-proyecto-unico{
    padding: 166px 0px 144px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap:32px;
     background: linear-gradient(0deg, #614f46 0.16%, #2c2121 56.87%);
}
.container-list-footer{
   position: relative;
    display: flex;
    justify-content: center;

    width: 90%;
    height: 290px;
    background-image: url('/images/backg-service-footer-2.png');
    background-size: cover;
}

.container-list-footer p.fade-in {
  opacity: 1;

  transition: opacity 1s ease-in, transform 0.7s ease-in;
}

.container-list-footer p.fade-in-big {
  opacity: 1;
  top: 74px;

  font-size: 90px;
  transition: opacity 1s ease-in, transform 0.7s ease-in;
}
.container-list-footer p{
    position: absolute;
    top:90px;
    opacity: 0;
 -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #2f1616;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    letter-spacing: 1.7px;
    font-size: 60px;
    font-weight: bold;
    color: var(--color-white);

    text-shadow: 1px 1px 10px   #400f0f;
}
.container-proyecto-unico h3{
    line-height: 1.5;
    color:var(--color-primary);
    text-shadow: 1px 1px 4px var(--color-grey-5);;
    font-size: 17px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.btn-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 32px;
    gap: 16px;
    border-radius: 10px;
    background-color: #2d1f18 ;
}
 .btn-footer> div{
    height: auto;
    padding: 1px;
 } */

 .wave-container{
    background-color: var(--color-soft-orange-grey);

 }
 .wave-container svg {
  display: block;
  width: 100%;
  height: 60px;
}

/*EXITO LANDING*/
.exito-container{
    background: var(--color-soft-orange-grey);
    font-weight: 500;
     color: var(--color-secondary);
}

.exito-container a{
    width: 270px;
    color: var(--color-grey-0);
    display: block;
    background-color: var(--color-secondary);
    border-radius: 15px;
    text-align: center;
    padding: var(--space-xxs)var(--space-xs);
}
.exito-container a:hover{
    transform: scale(1.1);
    transition: transform 0.1s linear;
}
.texto-exito{
    font-size: clamp(1.4rem, 3vw, 2.3rem);
    font-weight: 600;    
}

/**PORTFOLIO*/

.portfolio{
    background-color: white;
}
.portfolio > h2{    
    font-size: var(--space-lg);
    font-style: normal;
    font-weight: 800;    
    letter-spacing: 5px;
    text-transform: uppercase;
    align-self: last baseline;
}
@supports (-webkit-text-stroke: 1px black) {
    .portfolio > h2{        
        letter-spacing: 1px;
        -webkit-text-stroke-width: 1.7px;
        -webkit-text-stroke-color: #3f4b54;
    }
}

@supports not (-webkit-text-stroke: 1px black) {
    .portfolio > h2 {
        text-shadow:
            -2px -2px 0 var(--color-primary),
             2px -2px 0 var(--color-primary),
            -2px  2px 0 var(--color-primary),
             2px  2px 0 var(--color-primary);
    }
}
.imgs{
    display: flex;
    flex-wrap: wrap;
    gap:var(--space-md);
    justify-content: center;
}

.imgs img, .imgs video {
    width:400px;
    height:290.81px;
    border-radius: 5px;
}
video{
  object-fit: cover;
}

.imgs .casa {
    height: 315px;
    margin-bottom: -20px;
}

@media (max-width: 799px) {
    .intro-container{
        /* overflow-x: hidden; */
         overflow: hidden;
         max-height: 650px;
    }
    .intro-container> img{
        width: 130%;

    }
}
@media (max-width: 400px) {

    .texto-entrada{
        letter-spacing: 1.2px;
    }
    .list-container{
        align-items: center;
    }
    .imgs img, .imgs video {
        width:100%;
        height: auto !important;
        margin:0px;
    }
     .wave-container svg {
     display: none;

    }
}