/**LANDING*/

/*Placeholder eliminar cls*/
/* .image-placeholder {
  width: 100%;
  height: 100vh; 
  background: var(--color-secondary); 
} */
/* #imgHover {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  pointer-events: none; 
  display: none;
  opacity: 0;
  transition: opacity 2s linear ;
} */
 /*intro img*/
.intro-container::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(50, 40, 31, 0.799) 0%, transparent 100%);
    pointer-events: none;
    z-index: 3;     
}
.intro-container {
    position: relative;
    height: 100vh; 
    display: flex;
    overflow: hidden;   
    z-index: -2;
}

.portfolio-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    opacity: 1;
    transition: opacity 0.3s linear;
    filter:contrast(1.2)
}
/*Text*/
 .name{
    font-size: var(--font-special); 
    font-family: Handlee, sans-serif;
    bottom:300px;
    font-weight: 500;
    left:50%;
   transform: translateX(-50%);
    position:absolute;   
    z-index:4;    
    text-shadow: 0 1px 12px var(--color-blue-black);
    padding: var(--space-xxs) var(--space-sm);
    background: linear-gradient(90deg, rgba(48, 36, 21, 0.3), rgb(29, 26, 17, 0.5));    
     min-width: 100%;
     text-align: center;
     animation: name 3s linear forwards;    
}
@keyframes name {
    0% {
        opacity: 0;
         transform: translateX(-50%) translateY(0px) ; 
    }
    40%{
        opacity: 1;        
        transform: translateX(-50%) translateY(0px) scale(1.4) ;
        filter: contrast(3) brightness(1.2) drop-shadow(0 0 10px var(--color-secondary));
    }
    70%{
        transform: translateX(-50%) translateY(0px) scale(1.4) ;        
    }
    100% {        
        transform: translateX(-50%) translateY(250px);
    }
}
.page-landing h1{   
    background: linear-gradient(70deg, var(--vibe-orange), var( --color-purple)); /* Puedes personalizar */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    /* Para navegadores modernos (algunos aún necesitan prefijos) */
    background-clip: text;
    color: transparent;
}
 /* SERVICIOS -LANDING */
/* .list-container [hidden] { display: none !important; } */
.list-container{
    padding-top:0;
}
.list-container> .group-list {
    display: flex;
    flex-direction: row;
   padding: 16px 0;
    justify-content: center;
    gap: clamp(var(--space-md), 2vw,var(--space-lg));
    flex-wrap: wrap;
    align-items: center;
    min-width: 100%;
    align-items: stretch;
}
.group-list h2{
    font-size: var(--font-med-special);
}
/*indv List*/
.group-list  .list {
    max-width: 450px;
    min-width: 280px;
    border-radius: 15px;    
    background: var(--color-blue-black);   
    width: 100%;  
    color: var(--color-grey-2);  
    position: relative;
 z-index: 0;
}
/*border neon*/
.list::before{
    content:"";
    position: absolute;
    inset:0;
    padding: 3px;
    border-radius: 15px;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;  
  filter: blur(12px);
}

/*list hover*/
.list:hover::before{
    filter: blur(0px);      
}

.list-container a{
    gap:var(--space-xs);
    align-items: center; 
    padding: clamp(var(--space-xs), 3vw, var(--space-md)) ;
    max-width: 100%;
}
.list-container a > p{
    text-align: center;
    font-weight: 500;
}
  .features-list h3 {
    display:inline !important;
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    margin-right: 0.2em;
}
.features-list p { 
    color: var(--color-grey-2);
    display:inline !important;
 }
/*especificos childs*/
.list:first-child{    
    h2,h3, span{  color: var(  --vibe-orange);  }    
}
.list:first-child::before{    
    background: linear-gradient(90deg, var(  --vibe-orange), #925f3b);
}

.list:nth-child(2){
    h2, h3, span{  color: var(--color-white-blue); }
}
.list:nth-child(2)::before{
    background: linear-gradient(90deg,  var(--color-white-blue), #323e8c);
}

.list:nth-child(3){ 
     h2, h3, span{  color: var(--color-soft-purple); }
}
.list:nth-child(3)::before{
    background: linear-gradient(90deg,  var(--color-soft-purple), #4b328c);
}

.list:nth-child(4){   
    h2, h3{  color: var(--color-lemon-green); }
}
.list:nth-child(4)::before{
    background: linear-gradient(90deg, var(--color-lemon-green), #25784b);
}
/* contacta*/
.list-container .contacta p{
        font-size: var(--font-special);
        text-align: center;
        font-weight: 500;        
        font-family: Handlee;        
}
/*LAST*/
.last-project{
    background-color: rgb(238, 196, 134);
    color: var(--color-secondary);    
    border-radius:0 150px 150px 0 ;
    position: relative;
    font-weight: 500;    
}
.last-project h2{
    font-family: Handlee, sans-serif;
    font-size: var(--font-special);
}
.last-project::after{
    content:"" ;
    position: absolute;
    bottom:0px;
    background-color: white;
    width: 100%;
    max-height:200px;
    height:200px;
    z-index: -1;
}
.last-project .video-lastProject{
    align-items:center;
    justify-items: center;
    gap: 24px;
    width: 100%;
}
.video-lastProject video{
    max-width:500px;
    width: 100%;
}

/*EXITO LANDING*/
.exito-container{
    background-color: #ffe19c;
    font-weight: 500;
     color: var(--color-secondary);
}
.exito-container .casos{
    display: flex;
   flex-direction: column;
    gap: var(--space-xs);
    max-width: 400px;
    align-items: center;
}
.texto-exito{  
  align-items: center;
  max-width: 800px;  
}
.texto-exito h2{     
    text-align: center;
    font-family: Handlee;    
}
.exito-container .button-secondary{
    background-color: white;
}
 .wave-container{
    background-color: white;
 }
 .wave-container2{
    background-color: #ffe19c;  
 }
 .wave-container svg {
  display: block;
  width: 100%;
  height: 60px;
  filter: drop-shadow(0 -8px 4px rgba(172, 136, 81, 0.732));
}
.wave-container2 svg {
    display: block;
    width: 100%;
    height: 60px;
    filter: drop-shadow(0 -10px 4px rgba(0, 0, 0, 0.22));
  }
/*why */
.why-container{
    color: var(--color-secondary);
    font-weight: 500;
    background: #ffffff;   
}
.why-container h2{    
    max-width: 100%;
    text-align: center;
    margin-bottom: var(--space-md);
    font-family: Handlee, sans-serif;
}
.why-container .calendar {   
    gap: var(--space-xs);      
}
.why-container .calendar svg{
    width: 40px;
}


/**PORTFOLIO*/
.portfolio{
    background-color: white;
}
.portfolio > h2{    
    font-size: var(--space-lg);
    font-style: normal;
      
    letter-spacing: 5px;
    text-transform: uppercase;
    align-self: last baseline;
    font-family: Handlee;
}
@supports (-webkit-text-stroke: 1px black) {
    .portfolio > h2{        
        letter-spacing: 1px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #3f4b54;
    }
}

@supports not (-webkit-text-stroke: 1px black) {
    .portfolio > h2 {
        text-shadow:
            -2px -2px 0 var(--color-primary),
             2px -2px 0 var(--color-primary),
            -2px  2px 0 var(--color-primary),
             2px  2px 0 var(--color-primary);
    }
}
.imgs{
    display: flex;
    flex-wrap: wrap;
    gap:var(--space-md);
    justify-content: center;
}

.imgs img, .imgs video {
    width:400px;
    height:290.81px;
    border-radius: 5px;
}
.video{
  object-fit: contain;
  background-color: black;
}

.imgs .casa {
    height: 315px;
    margin-bottom: -20px;
}
.covervideo{
    object-fit: cover;
}

@media (max-width: 799px) {
    .intro-container{
        /* overflow-x: hidden; */
         overflow: hidden;
         max-height: 650px;
    }
    .intro-container> .portfolio-img{
        width: 130%;
        overflow: hidden;
        height: 100vh;
        top:auto;
    }
    .exito-container * {
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 400px) {

    .texto-entrada{
        /* letter-spacing: 1.2px; */
    }
    .list-container{
        align-items: center;
    }
    .imgs img, .imgs video {
        width:100%;
        height: auto !important;
        margin:0px;
    }
     .wave-container svg {
     display: none;

    }
}