@font-face {
            font-family: 'DancingScript';
            src: url('/fonts/Dancing/DancingScript-Regular.ttf') format('truetype');
            font-weight: 500;
            font-display: swap;
        }
.header-programming{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(var(--space-xs), 3vw, var(--space-lg));
    background-color:var(--color-dark-blue); 
}

/*text*/
.header-programming h1{    
    text-align: center;
    color: var(--color-white);
} 
 .container-proyect h2, .beneficios h2, .header-programming h3{
    font-weight: 600;
    
} 

 /**INTRO*/
 .header-programming .container-row  .p-short {
    color: var(--color-primary);
     font-weight: 600;
     text-shadow: 0 1px 2px var(--color-shadow-dark-grey);
}

/**Beneficios */
.beneficios{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(var(--space-xs) , 3vw, var(--space-xl));
    h2{  color:var(--color-dark-blue)} ; 
    h3{ color: var(--color-white-blue); font-weight: 500};
}
.beneficios *{    
    text-align: center;    
}
.beneficios > p{
    max-width: 700px;
     font-weight: 500
}
.beneficios ul{
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.beneficios li{
    background-color: var(--color-dark-blue);
     list-style: none;
     border-radius: 15px;
     padding: var(--space-md);
     color: var(--color-primary);
     box-shadow: 0 1px 3px var(--color-shadow-dark-grey);
     max-width: 400px;

}
/**Servicios*/
 .container-column{
    border: 2px solid transparent; 
    position: relative;  
    background-color: var(--color-grey-blue);
    box-shadow: 1px 1px 6px 0px var(--color-shadow-dark-grey);
    border-radius: 10px;
    color: var(--color-primary);
    h2, h3{
        color: var(--color-white-blue);
        z-index: 10;
        text-shadow: 0 1px 2px var(--color-shadow-dark-grey);
        font-weight: 500;
    }
}
 .container-column *{
    max-width: 750px;
    
 }
.img-proyect-pg{
    border-radius: 5px;
    object-fit: cover;   
}
 /*primer marco*/
 .container-column::before,
 .container-column::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 6px solid rgb(94, 199, 244);  
    box-shadow: 0px 0px 4px var(--color-shadow-middle-grey);
      
} 
 .container-column::before {
    top: clamp(0px, 5vw, 200px);
    right: clamp(10px, 5vw, 200px);
     animation: subtle-move-reverse 4s infinite linear; 
}
 .container-column::after {
    bottom: clamp(0px, 5vw, 200px);
    left: clamp(10px, 5vw, 200px);
    animation: subtle-move-reverse 4s infinite linear;
}
/*segundo marco*/
 .container-column   h2::before,
 .container-column   h2::after {
  content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 6px solid var(--color-white-blue);
    box-shadow: 0px 0px 4px var(--color-shadow-middle-grey);  
    
}
 .container-column   h2::before {
    top: clamp(10px, 7vw, 240px);
    right: clamp(10px, 7vw, 240px);
     animation: subtle-move 4s infinite linear ; 
}
 .container-column   h2::after {
    bottom:clamp(10px, 7vw, 240px);
    left: clamp(10px, 7vw, 240px);
    animation: subtle-move 4s infinite linear;
}
@keyframes subtle-move {
    0% {
        transform: scale(1) rotate(0deg);
    }
     50%{
        transform:   scale(1.2) rotate(-180deg);
    } 
    100% {
        transform:  scale(1) rotate(-360deg)  ;
    }
}
 @keyframes subtle-move-reverse {
    0% {
        transform: scale(1) rotate(0deg);
    }
     50%{
        transform:   scale(1.2) rotate(180deg);
    } 
    100% {
        transform:  scale(1) rotate(360deg)  ;
    }
} 

/**CONTAINER PROYECTO*/

.section-proyect{
    
    border-radius: 5px;    
    display: flex; 
    flex-wrap: wrap;
  
    justify-content: space-evenly;
}
.section-proyect > div:nth-child(2){
    max-width: 210px;
    position: relative; 
    justify-items: center;
    padding-top: clamp(var(--space-xs), 8vw, var(--space-lg))  ;
    p{
        font-family: "DancingScript";
        font-size: 1.4rem;
        text-align: center;
        /* text-wrap: wrap; */
    }
}
.container-proyect{
    background-color: var(--color-dark-blue);
    gap:var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-white);
    max-width: 740px;
    min-width: 300px;
    border-radius: 20px;
    padding: clamp(var(--space-xs), 8vw, var(--space-lg))  ;
    h3{ font-weight: 600;}
    z-index: 10;
  
}
/* .container-proyect>div{
    gap:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
     
} */
.bubble{
    position:absolute;
    top:10px;
    right: -10px;
    width:180px;
    height:180px;
    border-radius: 50%;
    z-index: 0;
    box-shadow: 0 0 3px var(--color-shadow-middle-grey);
   opacity: 0;
   object-fit: cover;
   
}

.bubble:nth-child(2){
     animation: bubble 66s infinite linear;    
     animation-delay: 0s;
}
.bubble:nth-child(3){
    animation: bubble1 66s infinite linear;
     animation-delay: 6.5s;
}
.bubble:nth-child(4){
    animation: bubble 66s infinite linear;
     animation-delay: 13s;
}
.bubble:nth-child(5){
    animation: bubble1 66s infinite linear;
     animation-delay: 19.5s;
}
.bubble:nth-child(6){
    animation: bubble 66s infinite linear;
     animation-delay: 26s;
}
.bubble:nth-child(7){
    animation: bubble1 66s infinite linear;
     animation-delay: 32.5s;
}
.bubble:nth-child(8){
    animation: bubble 66s infinite linear;
     animation-delay: 39s;
}
.bubble:nth-child(9){
    animation: bubble1 66s infinite linear;
     animation-delay: 46.5s;
}
.bubble:nth-child(10){
    animation: bubble 66s infinite linear;
     animation-delay: 53s;
}
.bubble:nth-child(11){
    animation: bubble1 66s infinite linear;
     animation-delay: 59s;
}
.bubble:nth-child(12){
    animation: bubble 66s infinite linear;
     animation-delay: 66s;
}


@keyframes bubble{
    0%{
        transform: translate(0, 0) scale(1);
        
    }
    5%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translate(-50px, 2000px) scale(0.9);
        opacity: 0;
    }
}
@keyframes bubble1{
    0%{
        transform: translate(0, 0) scale(1);
        
    }
    5%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translate(-200px, 2000px) scale(0.9);
        opacity: 0;
    }
}


@media (max-width: 540px) {
 .container-column::before {
    top:-20px;
    width: 40px;
    height: 40px;
}
.container-column::after{
     width: 40px;
    height: 40px;
}
 .container-column   h2::before{
    top:-10px;
    width: 20px;
    height: 20px;
    border: 4px solid var(--color-white-blue);
}
.container-column   h2::after{
    width: 20px;
    height: 20px;
    border: 4px solid var(--color-white-blue);
}


}