@font-face {
            font-family: 'DancingScript';
            src: url('/fonts/Dancing/DancingScript-Regular.ttf') format('truetype');
            font-weight: 500;
            font-display: swap;
        }

        /**todo */

.header-programming{       
    background-color:var(--color-med-blue); 
    color: var(--color-grey-0);
}

.header-programming h2 span{
    font-size: clamp(2rem, 2.6vw, 2.8rem);
    color: var(--color-white-blue);
    font-family:DancingScript;
    font-weight: 400;
    line-height: 1;
    align-items: center;
    margin-left: var(--space-xxs);
}
.header-programming img{
    object-fit: contain;
}
 /**INTRO*/


/**Beneficios */
.beneficios{   
    background-color: var(--color-grey-0);
    color: var(--color-secondary);
    h2{  color:var(--color-med-blue)} ; 
    h3{ color: var(--color-white-blue); max-width: 100%; };     
}
.beneficios p{
    font-weight: 500;
}
.beneficios ul{
   align-items: normal;
   justify-content: center;
   padding: 0;
   gap:var(--space-sm);
   flex-flow: row wrap
} 
.beneficios li{
    background-color: var(--color-med-blue);
     list-style: none;
     border-radius: 15px;
     padding: var(--space-md);
     color: var(--color-primary);
     box-shadow: 0 1px 3px var(--color-grey-5);
     width: 420px;
}
/**Servicios*/
 .services-programming{
     
    background-color: var(--color-dark-blue);  
    color: var(--color-grey-1);
    h2, h3{
        color: var(--color-white-blue);        
    }
}
 
/**CONTAINER PROYECTO*/

.section-proyect{    
    color:var(--color-primary);
    background-color: var(--color-grey-0);
    align-items: start;
    h2{color: rgb(255, 227, 145);}
    h3{ font-weight: 600; 
        color: rgb(255, 227, 145);
        text-align: center;
        max-width: 100% !important;
    }   
    span {color: rgb(255, 227, 145);}
}

.container-proyect{
    background-color: var(--color-med-blue);     
    border-radius: 15px;    
    box-shadow: 1px 1px 6px 0px var(--color-grey-5);
    z-index: 10;         
}

.section-proyect > div:nth-child(1){
    align-items: flex-start;
     width: 100%;
}

/* arquitectura */ 
.section-proyect > .card-tecnologias{       
   width: 100%;
    gap:var(--space-lg);   
    position: relative; 
}
 .card-tecnologias> div:nth-child(1){
     border-radius: 15px;
    gap:var(--space-md);
    box-shadow: 1px 1px 6px 0px var(--color-grey-5);
    background-color: var(--color-med-blue);
    flex-direction: column;
     flex: 30%;
 }
.card-tecnologias h3{
    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
}
.card-tecnologias ul{
    padding:0;
   gap:var(--space-sm);
     max-width: 100%;
}
.card-tecnologias  li{
    list-style: none;
    color: var(--color-dark-blue);
    background-color:  rgb(237, 229, 201);
    padding: clamp(var(--space-xxs), 3vw, var(--space-sm));
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-grey-4);    
     font-weight:500;  
    
}
.card-tecnologias  h4{
    text-align: center;
    font-weight: 600;
    color: var(--color-med-blue);
}
.imgs-tecnologias{    
    position: relative;
    min-height: 620px; 
    overflow:hidden;
   top:0px;
}
.imgs-tecnologias *{    
position: absolute;
width: 250px;
inset: 0;
  margin: auto;
top:0px;
border-radius: 25px;
}
.imgs-tecnologias img:nth-child(1){
box-shadow: 0 0 10px var(--color-grey-3);

}
.imgs-tecnologias img:nth-child(3){
    animation: change-img 11s infinite ease;
    animation-delay: 0s;
    
}
.imgs-tecnologias img:nth-child(2){
    animation: change-img 11s infinite linear;
    animation-delay: 3s;    
}

@keyframes change-img{
    0%{
      opacity:1;
        visibility: visible;        
    }   
    32%{     
       opacity:1;
       transform: translate(0px, 0px) ; 
       
       
    }    
     40%{    
      opacity:0;
        transform: translate(50px, 50px) scale(0.9) rotate(10deg);
        
    }    
    100%{
        transform: scale(1);
        opacity:0;
        visibility: hidden;
       
    }
}
.donacion-plataforma p {
   color: var(--color-med-blue);
    font-size: clamp(0.9rem, 1vw, 1.2rem); 
    margin-bottom:  var(--space-md) ;
    border: 1px solid var(--color-med-blue);
    padding: var(--space-xxs) var(--space-xs);
    border-radius: 20px;
    font-weight: 500;
    width: 100%;
}

/*bubbles*/
.container-bubble {
    position: relative;
    font-family: DancingScript;
    color: var(--color-med-blue);
     padding-top: clamp(var(--space-sm), 3vw, var(--space-lg)) ;
    p{
        font-size: 1.6rem ;
        text-align: center;      
    }
}
.bubble{
    position:absolute;
    top:15px;   
    left: 30%; 
    width:180px;
    height:180px;
    border-radius: 50%;
    z-index: 0;
   
    box-shadow: 0 0 3px var(--color-grey-3);
   opacity: 0;
   object-fit: cover;   
}
.bubble:nth-child(2){
     animation: bubble 66s infinite linear;    
     animation-delay: 0s;
}
.bubble:nth-child(3){
    animation: bubble1 66s infinite linear;
     animation-delay: 6.5s;
}
.bubble:nth-child(4){
    animation: bubble 66s infinite linear;
     animation-delay: 13s;
}
.bubble:nth-child(5){
    animation: bubble1 66s infinite linear;
     animation-delay: 19.5s;
}
.bubble:nth-child(6){
    animation: bubble 66s infinite linear;
     animation-delay: 26s;
}
.bubble:nth-child(7){
    animation: bubble1 66s infinite linear;
     animation-delay: 32.5s;
}
.bubble:nth-child(8){
    animation: bubble 66s infinite linear;
     animation-delay: 39s;
}
.bubble:nth-child(9){
    animation: bubble1 66s infinite linear;
     animation-delay: 46.5s;
}
.bubble:nth-child(10){
    animation: bubble 66s infinite linear;
     animation-delay: 53s;
}
.bubble:nth-child(11){
    animation: bubble1 66s infinite linear;
     animation-delay: 59s;
}
.bubble:nth-child(12){
    animation: bubble 66s infinite linear;
     animation-delay: 66s;
}

@keyframes bubble{
    0%{
        transform: translate(0, 0) scale(1);
        visibility: visible;
    }
    5%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    41%{ visibility: hidden;}
    100%{
        transform: translate(-50px, 2000px) scale(0.9);
        opacity: 0;
    }
}
@keyframes bubble1{
    0%{
        transform: translate(0, 0) scale(1);
        
    }
    5%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    41%{ visibility: hidden;}
    100%{
        transform: translate(-200px, 2000px) scale(0.9);
        opacity: 0;
    }
}

#sobre-la-web{
    background-color: var(--color-dark-blue);
}
#sobre-la-web h3{
    color:var(--color-white-blue);
}
#sobre-la-web a{
    padding: inherit;
    font-weight: 600;
   
}
#sobre-la-web strong{
     color: var(--color-white-blue);
}

@media (max-width: 950px) {

    .section-proyect .container-bubble{
        min-height: 500px;    
    }

    @keyframes bubble{
        0%{
            transform: translate(0, 0) scale(1);        
        }
        10%{
            opacity: 1;
        }    
        25%{
            opacity: 0;
        }
        100%{
            transform: translate(-50px, 1600px) scale(0.9);
            opacity: 0;
        }
    }
    @keyframes bubble1{
        0%{
            transform: translate(0, 0) scale(1);        
        }
        10%{
            opacity: 1;
        }    
        25%{
            opacity: 0;
        }
        100%{
            transform: translate(-200px, 1600px) scale(0.9);
            opacity: 0;
        }    
    }

    /*img-proyecto*/

    
 .imgs-tecnologias *{
    top: 0px;
    left: 50%;  
inset: 0;
  margin: auto;
   
} 


}