.header-ux{
 background: var(--color-white);   
 position: relative;
 color: var(--color-secondary);
 display: flex;
 flex-direction: column;
 align-items: center;

 
}

.header-ux h1{
    color: #ff7707;
    /* text-shadow: 0px 1px 0px #4e4e4e; */

}
.header-ux h2, .container-servicios-ux h2, .container-casos-ux h2{
    font-weight: bold;
    justify-content: center;
    display: flex;
} 
.header-ux h3{
    display: flex;
    justify-content: center;
    font-weight: 500;
   
}

.header-ux h4{
    display: flex;
   font-weight:500;
}


/**CONTAINER IMPORTANCIA*/
.container-importancia{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
    padding: 0 24px 0 24px;
}
.container-importancia p{
    font-weight: 500;
}
/**CONTAINER MOTIVOS*/
.container-motivos-ux{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--color-grey);
    box-shadow: 0px 1px 3.3px 0px #35240a;
    
    gap:24px;
    margin: 96px 0 96px 0;
    border-radius: 15px;
    padding: 24px;
     /* width: min-content;  */
}

.container-motivos-ux div{
    
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap:8px;
    background-color: var(--color-white); 
    color: var(--color-secondary);
    border-radius: 10px;
    width: 760px;
    
}
.text-left{
    align-items: flex-start;
    padding: 8px !important;
    width: 680px !important;
    box-shadow: none !important;
    gap:16px !important;
}
.text-left div{
    width: auto;
    box-shadow: none;
    gap: 4px;
    padding: 0px;
}
/**CONTAINER SERVICIOS*/
.dark-back{
     background: linear-gradient(10deg, #68594f  , #bfb8ae );
width: 100%;
display: flex;
justify-content: center;
padding: 96px 0px;
}
.container-servicios-ux{
display: flex;
padding: 48px 100px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
background-color: var(--color-white); 
border-radius: 15px;
border: 5px solid var(--color-grey);
max-width: 808px;
}

.container-servicios-ux ul h4{
    color: var(--color-secondary);
    justify-content:flex-start;
    text-shadow: 0 1px 0.5px #ffc876;
}
.container-servicios-ux .p-column{
    text-align: center;
    color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    gap: 8px;
 
}
/**CONTAINER CASOS UX*/
.full-width-div{
    width: 100%;
    
    background-color: var(--color-blue-black);
    padding: 168px 0px 136px 0px;
    display: flex;
    justify-content: center;
}
.container-casos-ux{
    display: flex;
    padding: 16px 0px 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
        
    color:#afafaf;
    border-radius: 15px;
    background: #3E3B35;
    width:1200px;
    border: 14px solid #3E3B35;
   

}


.black-background{
    width: 100%;
    border-radius: 10px;
    background-color: #212121;
}
.black-background video{

    border-radius: 10px;
   
}
.black-background .video-bank{
    object-fit: cover ;
    height: 350px
}
 
.container-casos-ux .container-row{
    width: 100%;   
    padding: 40px 16px 40px 16px ;
}
.container-casos-ux .container-column{
    width: 100%;   
   align-items: center;
   gap:8px;
   padding: 0px;
}
.column-left-16{
    display:flex;
    flex-direction: column;
    gap:16px
}
.container-casos-ux .p-column{
     gap:8px;
}
.container-column-pdd{
   display: flex;   
    justify-content: center;
    padding-top: 20px ;
    flex-direction: column;
    align-items: center;
    gap:8px;

}
/*text casos uso*/
.container-casos-ux h2{
   color: #FFC35C;
     
}
.container-casos-ux  h3{
    justify-content: flex-start;
    font-weight: 500;
    color: #FFC35C;
}
.container-casos-ux  h4{
    color: #afafaf;
    
}     
.short{
    width: 450px;
    text-align: center;
    margin-left: 50px;
    
}

