.page-uxui{
    color: var(--color-light-grey);
}
.header-ux{
    background: var(--color-secondary);  
    border-bottom: 1px solid var(--color-soft-orange-grey);
}
.header-ux h1{  
    color: var(--color-orange); 
}
.page-uxui h2{
    font-weight: 600;
    text-align: center; 
    color: var(--color-orange);
} 
.page-uxui h3{
    font-weight: 500; 
    color: var(--color-soft-orange-grey);
}

/**CONTAINER IMPORTANCIA*/
.container-importancia{ 
    color: var(--color-light-grey);   
    padding: 0;     
   p{
     font-weight: 500; 
   }
   h2{
    font-weight: 600;
    color: var(--color-orange);
   }
}

/**CONTAINER MOTIVOS*/
.benefits{
    background-color: var(--color-grey);
}
.container-motivos-ux{   
    background-color: var(--color-sat-orange);
    box-shadow: 0 1px 5px var(--color-shadow-dark-grey);
    border-radius: 15px;
}
/**todo: llenar height*/
.container-motivos-ux> div{ 
    background-color: var(--color-secondary); 
    color: var(--color-light-grey);
    border-radius: 10px;
    /* height: 100% !important; */   
    box-shadow: 0 1px 5px var(--color-shadow-dark-grey);
}
.container-motivos-ux ul{
    list-style: none;
    padding: 0;
}
.gif{
    position:absolute;
    width:200px;
    bottom: 5px;
    right: 15px;
    border-radius: 60px;
}
/* .text-left{
    align-items: flex-start;
    padding: 8px !important;
    width: 680px !important;
    box-shadow: none !important;
    gap:16px !important;
}
.text-left div{
    width: auto;
    box-shadow: none;
    gap: 4px;
    padding: 0px;
} */
/**CONTAINER SERVICIOS*/

.dark-back{
    background: #89713f;
}
.container-servicios-ux{    
    background-color: var(--color-secondary); 
    border-radius: 15px;
    box-shadow: 0 1px 5px var(--color-shadow-dark-grey);
    color: var(--color-light-grey);
}
.container-servicios-ux h4{   
    font-weight:700;
    color:var(--color-orange);    
} 
 /* .container-servicios-ux::before{
    content: "";
    position: absolute;
    width: clamp( 20px,7vw,50px);
    height: clamp( 20px,7vw,50px);
    border-radius: 5px;
    border: clamp(2px, 1vw, 6px) solid var(--color-soft-orange-grey); 
    box-shadow: 0px 0px 4px var(--color-shadow-dark-grey);
    top: clamp(-50px, 1vw, 30px);
    right: clamp(10px, 2vw, 100px);
     animation: subtle-move-reverse 5s infinite linear; 
      
}  */
/*segundo marco*/
 /* .container-servicios-ux  h2::before{
  content: "";
    position: absolute;
    width: clamp( 15px,5vw,30px);
    height: clamp( 15px,5vw,30px);
    border-radius: 5px;
    border: clamp(2px, 1vw, 6px) solid var(--color-soft-orange-grey);
    box-shadow: 0px 0px 4px var(--color-shadow-dark-grey); 
    top: clamp(10px, 4vw, 100px);
    right: clamp(30px, 4vw, 130px);
     animation: subtle-move 5s infinite linear ;  
} */


/* @keyframes subtle-move {
    0% {transform: scale(1) rotate(0deg); }
    50% {transform:   scale(1.2) rotate(-180deg);} 
    100% {transform:  scale(1) rotate(-360deg)  ;}
}
 @keyframes subtle-move-reverse {
    0% {transform: scale(1) rotate(0deg);}
    50%{transform:   scale(1.2) rotate(180deg);} 
    100% {transform:  scale(1) rotate(360deg);}
}  */

/* .container-servicios-ux ul h4{
    color: var(--color-secondary);
    justify-content:flex-start;
    text-shadow: 0 1px 0.5px #ffc876;
} */
/* .container-servicios-ux .p-column{
    text-align: center;
    color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    gap: 8px;
 
} */
/**CONTAINER CASOS UX*/
.full-width-div{
    background-color: var(--color-blue-black);
}
.container-casos-ux{    
    padding: 0;
    padding-top: var(--space-xxs);     
    gap:var(--space-xs);
    color:var(--color-light-grey);
    border-radius: 15px;
    background: var(--color-grey);    
    border: 14px solid var(--color-grey);
}

.black-background{
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-background .video{
    border-radius: 10px;
    max-width: 600px;
    width: 100%;   
}
.black-background video, .black-background .container-img-focus{
    /* padding: var(--space-xxs) 0; */
}
  .black-background .video-bank{
    object-fit: contain ;
    max-width: 250px;
}   
.container-casos-ux  h3{    
    /* font-weight: 600; */
}
.container-casos-ux  h4{
    color: #afafaf;
  
} 
p.align{
    font-weight: 500;
}    

@media (max-width: 768px) {
    /* .container-motivos-ux{
        flex-direction: column;
    } */
    .gif{
        position: relative;
        right: auto;
    }
}
@media (max-width: 400px) {
   .black-background > div{
    padding: 0; 
   } 
   .container-casos-ux{
     border:var(--space-xxs)  solid var(--color-grey);
   }
}