.page-uxui{
    color: var(--color-grey-2);
}
.page-uxui h1, .page-uxui h2{
     
    color: var(--color-orange);
} 
.page-uxui h3{    
    color: var(--color-soft-orange-grey);
}
/**HEADER*/
.header-ux{
    background: var(--color-secondary);     
    p{
     font-weight: 500; 
   }
}



/**CONTAINER MOTIVOS*/
.benefits{
    background-color: var(--color-grey-4);   
}
.container-motivos-ux{   
    background-color: var(--color-sat-orange);
    box-shadow: 0 1px 5px var(--color-grey-5);
    border-radius: 15px;
    align-items: normal;
    gap:var(--space-xs); 
    max-width: 1200px;
  
}
.container-motivos-ux> div{ 
    background-color: var(--color-secondary); 
    border-radius: 10px;    
    box-shadow: 0 1px 5px var(--color-grey-5);   
    text-align: center; 
}
.container-motivos-ux ul{
    list-style: none;
    padding: 0;
    height: 100%;
}
.container-motivos-ux li{  
    position: relative;  
    display: flex;
    flex-direction: column;  
    padding: var(--space-sm);
    background-color: var(--color-grey-5);
    border-radius: 5px;
    height: 100%;
}
.container-motivos-ux .material-symbols-rounded {   
   font-size: 13px; 
   font-weight: 700;
}
/*definicion*/
.definicion-ux{
    background-color: var(--color-grey-5);    
}
/**CONTAINER SERVICIOS*/
.services-ux-background{
    background: #89713f;   
}
.services-ux-container{    
    background-color: var(--color-secondary); 
    border-radius: 15px;
    box-shadow: 0 1px 5px var(--color-grey-5);   
}
.services-ux-container h4{      
    color:var(--color-orange);
    text-align: center;    
} 
/**APPLE*/
.ejemplo-ux{
    background-color: var(--color-grey-5);    
}
.ejemplo-ux > div{
    padding:  clamp(0em, 3rem ,var(--space-sm));
}
/**CONTAINER CASOS UX*/

.container-casos-ux  h3{
    color: var(--color-orange);
}
.container-casos-ux  h4{
    color: var(--color-grey-1);  
} 
.container-casos-ux{    
    padding-top: var(--space-xs) ;
    gap:var(--space-md);    
    width: 100%;
    border-radius: 15px;
    background: var(--color-grey-4); 
    border: clamp(4px,1vw, 14px) solid var(--color-grey-4);
    border-top: 14px solid var(--color-grey-4);
    max-width: 1100px;
    align-items: center;
} 
video, img{
    border-radius: 5px;
}
.container-casos-ux .video-bank{
    object-fit: contain ;
    max-width: 300px;
}   

.container-casos-ux span{
    color: var(--color-soft-orange-grey)
}

@media (hover: hover)  {
   
    .container-motivos-ux h3{
        position: absolute;            
        font-size: 1.2rem;    
        text-align: center;
        padding: 0 var(--space-sm) ;       
        width: 100%;
    }
     
    .container-motivos-ux li:hover h3{
        font-size: 1rem;       
        position: relative;
       padding: 0;
       align-self: flex-start;
        text-align: unset;
        color: rgb(100, 53, 0);        
    }
    .container-motivos-ux ul {
        height: 400px; 
        display:block;
        position: relative;   
        width: 100%;
    } 
    .container-motivos-ux li{
        position: absolute;
        height: 120px;  
        width: 100%;
        padding: var(--space-xs);
        align-items: center;   
        justify-content: center;    
    } 
    .container-motivos-ux li:nth-child(1){     
    top:0;
}
 .container-motivos-ux li:nth-child(2){     
    top:130px;
}
 .container-motivos-ux li:nth-child(3){     
    top:260px;
}
    .container-motivos-ux p{
        opacity: 0;
        visibility: hidden;
       color: var(--color-secondary);
       font-weight: 500;
    }
    .container-motivos-ux li:hover{
        background-color: #9d8349;
        border-radius: 30px;        
        height: auto;
        margin: 0;
        z-index: 3;
        transform: translateY(-10%);
        transition: border-radius 0.3s linear;                 
    }
    .container-motivos-ux li:hover .material-symbols-rounded {   
   font-size: 11px; 
   
}
    .container-motivos-ux li:hover p{
        opacity: 1;
        visibility: visible;           
        color: var(--color-secondary);        
        transition: all 0.3s linear; 
    }
  
}
/* Versión móvil/tablet corregida */
@media (max-width: 799px) {   
   .componentes-bank{
        align-items: flex-start;
        text-align: start;
   }
    /* .container-motivos-ux ul{    
        height: auto;
    } */
       
}
@media (max-width: 400px) {
  
   .container-casos-ux{
     padding-top: 17px; 
     gap:var(--space-xxs)
     
   } 
}